<div class="form-group row">
  <label class="col-sm-2 col-form-label">First Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="firstName"
           placeholder="Enter First Name">
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Last Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="lastName"
           placeholder="Enter Last Name">
  </div>
</div>

<button (click)="addAuthor()" *ngIf="author.id==0" class="btn btn-primary">
  Add
</button>

<button (click)="editAuthor()" *ngIf="author.id!=0" class="btn btn-primary">
  Update
</button>

