<ng-container *ngIf="book">
  <!-- Book info -->
  <mat-list class = panel>
    <h2>{{book.title}}</h2>
    <img [src]=book.image [alt]="'book photo'" height=100 width=100>
    <br><strong>Author: </strong><a [routerLink]="['/authors', book.author.id]">{{book.author.firstName}} {{book.author.lastName}}</a>
    <br><strong>Genre: </strong> {{book.genre}}
    <br><strong>Average Rating: </strong> {{book.averageRating}}
    <br><p>
      {{book.synopsis}}
    </p>

    <!-- Reviews-->
    <br><h2>Reviews</h2>
    <div class="scroll-list" >
      <mat-list  *ngFor="let review of reviews ">
        <strong>
          {{review.user.username}}
          [{{review.status}}]
          <ng-container *ngIf="review.rating">
            {{review.rating}} stars
          </ng-container>
        </strong>
        {{review.note}}
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </mat-list>


</ng-container>



