<ng-container *ngIf="book">
  <!-- Book info -->
  <mat-list class = panel>
    <h2>{{book.title}}</h2>
    <img [src]=book.image [alt]="'book photo'" height=100 width=100>
    <br><strong>Author: </strong><a [routerLink]="['/authors', book.author.id]">{{book.author.firstName}} {{book.author.lastName}}</a>
    <br><strong>Genre: </strong> {{book.genre}}
    <br><strong>Average Rating: </strong> {{book.averageRating}}
    <br><p>
      {{book.synopsis}}
    </p>

    <!-- Reviews-->
    <br><h2>Reviews</h2>

    <mat-list  *ngFor="let review of reviews ">
      <app-my-read-blurb [myRead]="review">

      </app-my-read-blurb>
    </mat-list>
  </mat-list>


</ng-container>



