<!-- Button trigger modal -->
<button mat-raised-button color="primary"
        data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="addClick()" data-backdrop="static" data-keyboard="false">
  Add Book
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-book [book]="book" *ngIf="ActivateAddEditBookComp">
        </app-add-edit-book>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let book of BookList">
  <mat-card >
    <mat-card-header>
      <div mat-card-avatar>
      </div>
      <mat-card-title>
        {{book.id}} {{book.title}}
      </mat-card-title>
      <mat-card-subtitle
        *ngIf="book.author">{{book.author.firstName}} {{book.author.lastName}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions align="end">
      <button mat-button (click)="editClick(book)">
        <mat-icon aria-hidden="false" aria-label="Edit pencil" fontIcon="edit">
        </mat-icon>
      </button>
      <button mat-button (click)="deleteClick(book)">
        <mat-icon aria-hidden="false" aria-label="Edit pencil" fontIcon="delete" >
        </mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-content
      *ngIf="book.synopsis">{{book.synopsis}}
    </mat-card-content>

  </mat-card>
</div>
