.container {
  min-width: 350px;
  max-width: 650px;

  justify-content: space-between;
}

.fill {
  flex:1;
}
a:link{
  text-decoration: none;
  color:black;
}
a:hover {
  font-size:105%;
  text-decoration: underline;
}
