<br>
<mat-card class="container">
  <mat-card-header>
    <div mat-card-avatar>
      <img [src]=image [alt]="'avatar'" height=50 width=50>
    </div>

    <mat-card-subtitle>
      {{subtitle}}
    </mat-card-subtitle>
    <mat-card-title>
      <a [routerLink]=link>
        {{title}}
      </a>

    </mat-card-title>

    <mat-card-actions align="end" class="fill">
      <button mat-icon-button (click)="viewClick()">
        <mat-icon aria-hidden="false" aria-label="View" fontIcon="launch" >
        </mat-icon>
      </button>

      <button mat-icon-button (click)="editClick()" >
        <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="edit">
        </mat-icon>
      </button>

      <button mat-icon-button (click)="deleteClick()">
        <mat-icon aria-hidden="false" aria-label="Delete" fontIcon="delete" >
        </mat-icon>
      </button>
    </mat-card-actions>

  </mat-card-header>

  <mat-card-content>
    <strong>{{contentPrefix}}</strong> {{content}}
  </mat-card-content>

</mat-card>
