<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2"
        data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="addClick()" data-backdrop="static" data-keyboard="false">
  Add Author
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-author [author]="author" *ngIf="ActivateAddEditAuthorComp">
        </app-add-edit-author>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Author</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let author of AuthorList">
    <td>{{author.id}}</td>
    <td>{{author.firstName}} {{author.lastName}}</td>

    <td>
      <button type="button" class="btn btn-primary float-right m-2"
              data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="editClick(author)" data-backdrop="static" data-keyboard="false">
        Edit
      </button>
      <button type="button" class="btn btn-light mr-1"
              (click)="deleteClick(author)">
        Delete
      </button>
    </td>
  </tr>

  </tbody>
</table>
