<!-- Add, edit, or view a book -->

<div class="panel">
  <!-- Button to add a new book -->
  <button mat-fab color="primary" (click)="openAddBookDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <!-- Search bar -->
  <mat-form-field [style.width.px]=450>
    <input  type="string"  matInput
            placeholder="Enter title or author"
            name= "search" [(ngModel)]= "searchInput">
    <button matPrefix mat-button ><mat-icon >search</mat-icon></button>
  </mat-form-field>

  <!-- List all books -->
  <div class="scroll-list">
    <app-book-list
      [list]="list"
      [filterFor]="searchInput"
      (onView)="view($event)">
    </app-book-list>
  </div>

</div>














