<!-- Search bar -->
<mat-form-field>
  <input type="string" matInput
         placeholder="Search by title"
         name= "search" [(ngModel)]= "searchInput">
  <button matPrefix mat-button ><mat-icon >search</mat-icon></button>
</mat-form-field>

<!-- Button to add a new book -->
<br><button mat-raised-button color="primary"
        data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="addBook()" data-backdrop="static" data-keyboard="false">
  Add Book
</button>

<!-- List all books -->
<app-show-book-list
  [bookList]="bookList"
  [filterFor]="searchInput"
  (onEditBook)="editBook($event)">

</app-show-book-list>

<!-- If triggered, display the add-edit-book  -->
<div *ngIf="editMode">
  <app-add-edit-book [book]="selectedBook"></app-add-edit-book>
</div>

<div *ngIf="addMode">
  <app-add-edit-book [book]="selectedBook"></app-add-edit-book>
</div>


