.search {
  min-width: 300px;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
}

.left-panel{
  width: 450px;
  height: 100%;
  float: left
}

.right-panel{
  height: 100%;
  float: left;
}

.scroll-list{
  height: 100%;
  overflow-y: scroll;
}
