.search {
  min-width: 300px;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
}

.panel{
  width: 100%;
  position: absolute;
  left: 30%;
  height: 100%;
  padding-left:20px;
  padding-right:20px;
}



.scroll-list{
  height: 100%;
  overflow-y: scroll;
}
