<div class="panel">


  <!-- Search bar -->
  <mat-form-field [style.width.px]=450>
    <input  type="string"  matInput
            placeholder="Enter title or author"
            name= "search" [(ngModel)]= "searchInput">
    <button matPrefix mat-button ><mat-icon >search</mat-icon></button>
  </mat-form-field>

  <!-- List all books -->
  <div class="scroll-list">
    <mat-list *ngFor="let book of list | SearchBooksByTitleAuthor:searchInput">
      <app-book-card [book]="book"></app-book-card>
    </mat-list>
  </div>

</div>

<!-- Button to add a new book -->
<button mat-fab class="add-button" color="primary" (click)="openAddBookDialog()">
  <mat-icon>add</mat-icon>
</button>















