
<mat-toolbar color="primary" >
  <img [src]="logo" alt="book icon" width="50" height="50" style="padding-right:15px;">
  <span style="font-size:50px;padding-bottom:15px;padding-top:15px">
    {{title}}
  </span>
  <app-logout style="float:right" *ngIf="authService.isLoggedIn$ | async"></app-logout>
</mat-toolbar>


<!-- News feed -->
<div class="left-panel" >
  <app-login ></app-login>
  News feed here.
  <mat-divider [vertical]="true"></mat-divider>
</div>

<div class="main">
  <app-browse *ngIf="authService.isLoggedIn$ | async"></app-browse>
</div>



