.main-panel{
  margin-left:100px;
  margin-right:100px
}
.left-panel{
  width: 300px;
  float:left;
  height: 100%;
  padding-left:20px;
  padding-right:20px;
}
.mat-divider-vertical{
  height: 100%;
  float: right;
  width: 1px;
  position: inherit;
}
