
<mat-toolbar color="primary" >
  <span style="font-size:50px;padding-bottom:15px;padding-top:15px">
    {{title}}
  </span>
  <img src="src/assets/images/book.jpg" alt="book icon">
</mat-toolbar>

<nav mat-tab-nav-bar [tabPanel]="tabPanel"  style="width:700px;">
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<div class="left-panel">
  News feed here.
  <mat-divider [vertical]="true"></mat-divider>
</div>



<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>





