
<mat-header-row>{{mode}}</mat-header-row>
<div>
  <!-- Title -->
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="tempBook.title">
  </mat-form-field>

  <!-- Author -->
  <mat-form-field appearance="fill" >
    <mat-label>Author</mat-label>
    <mat-select [(ngModel)]="tempBook.author">
      <mat-option *ngFor="let author of authorList" [value]="tempBook.author">
        {{author.firstName}} {{author.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Genre -->
  <mat-form-field appearance="fill">
    <mat-label>Genre</mat-label>
    <input matInput [(ngModel)]="tempBook.genre">
  </mat-form-field>

</div>

<!-- Rating -->
<mat-form-field appearance="fill">
  <mat-label>Rating</mat-label>
  <input matInput [(ngModel)]="tempBook.averageRating">
</mat-form-field>

<!-- Synopsis -->
<mat-form-field appearance="fill">
  <mat-label>Synopsis</mat-label>
  <textarea matInput [(ngModel)]="tempBook.synopsis"></textarea>
</mat-form-field>

<!-- Add Button -->
<button mat-button (click)="addBook()" *ngIf="book.id==0" class="btn btn-primary">
  Add
</button>

<button mat-button (click)="editBook()" *ngIf="book.id!=0" class="btn btn-primary">
  Update
</button>



