.search {
  display: flex;
  justify-content: space-between;
}

.panel{
  width: 100%;
  position: absolute;
  left: 30%;
  height: 100%;
  padding-left:20px;
  padding-right:20px;
  overflow-y:scroll;
}

.scroll-list{
  height: 100%;
  overflow-y: scroll;
}
