<br>

<div class="panel">


  <!-- Search bar -->
  <mat-form-field [style.width.px]=450>
    <input  type="string"  matInput
            placeholder="Enter title or author"
            name= "search" [(ngModel)]= "searchInput">
    <button matPrefix mat-button ><mat-icon >search</mat-icon></button>
  </mat-form-field>

  <!-- List all author -->
  <div class="scroll-list">
    <mat-list *ngFor="let author of list | SearchAuthors:searchInput">
      <app-author-card [author]="author"></app-author-card>
    </mat-list>
  </div>


</div>
<!-- Button to add a new author -->
<button mat-fab class="add-button" color="primary" (click)="openAddAuthorDialog()">
  <mat-icon>add</mat-icon>
</button>
