.panel{
  width: 100%;
  margin-left:50px;
  height: 100%;
  padding-left:20px;
  padding-right:20px;
  overflow-y: auto;
}
a:link{
  text-decoration: none;
  color:black;
}
a:hover {
  font-size:105%;
  text-decoration: underline;
}
a, a:visited, a:active {
  color: inherit;
}
