<div class="panel">

  <!-- Book list (search by title or author)-->
  <div class="scroll-list" *ngIf="searchType==TITLE_OR_AUTHOR">
    <mat-list *ngFor="let book of list | SearchBooksByTitleAuthor:searchInput">
      <app-book-card [book]="book"></app-book-card>
    </mat-list>
  </div>

  <!-- Book list (search by author id)-->
  <div class="scroll-list" *ngIf="searchType==AUTHOR_ID">
    <mat-list *ngFor="let book of list | SearchBooksByAuthorId:searchInput">
      <app-book-card [book]="book"></app-book-card>
    </mat-list>
  </div>

</div>

<!-- Button to add a new book -->
<button mat-fab class="add-button" color="primary" (click)="openAddBookDialog()">
  <mat-icon>add</mat-icon>
</button>















