<!-- Nav Bar -->
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<!-- News feed -->
<div class="left-panel" >
  News feed here.
  <mat-divider [vertical]="true"></mat-divider>
</div>

<!-- Content determined by nav bar -->
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>






