<div class="main-panel" style="overflow:hidden;">

  <!-- Search bar -->
  <mat-form-field [style.width.px]=450 style="overflow:hidden;">
    <input  type="string"  matInput
            placeholder="Search for {{mode}}"
            name= "search" [(ngModel)]= "searchInput">
    <button matPrefix mat-button ><mat-icon >search</mat-icon></button>
  </mat-form-field>

  <!-- Select mode -->
  <div>
    <mat-radio-group aria-label="Select an option to search for" [(ngModel)]="mode">
      <mat-radio-button value={{BOOKS}}>{{BOOKS}}</mat-radio-button>
      <mat-radio-button value={{AUTHORS}}>{{AUTHORS}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- List (books or authors) -->
  <app-books-list *ngIf="mode==BOOKS" [searchInput]="searchInput" [searchType]="'TITLE_OR_AUTHOR'"></app-books-list>
  <app-authors-list *ngIf="mode==AUTHORS" [searchInput]="searchInput"></app-authors-list>


</div>

