<mat-card  class="login">
  <mat-card-header>
    <mat-card-title>
      <strong>Login</strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" >
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput class="field" type="email"  formControlName="email" id="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" id="password">
      </mat-form-field>
      <br>
      <button mat-raised-button class="button" type="submit" color="primary">
        LOGIN
      </button>
    </form>
    <br>
    <button mat-button class="button" (click)="openRegisterDialog()" color="secondary" style="font-size:12px;">
      No account? Register here
    </button>
  </mat-card-content>
</mat-card>


